.left-main {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-main ul {
  width: 98%;
  margin-left: 1%;
  height: 100%;
}

.left-main ul li {
  margin-top: 0.5%;
  height: 11.5%;
  background-color: #3c1803;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-main li span {
  display: inline-block;
  width: 45%;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
}

.left-main li input {
  width: 45%;
  height: 35px;
  margin-top: 8px;
  float: right;
}